.container {
  background: #eaeaea;
  padding: 16px;
  max-width: 680px;
  margin: 10px auto;
  min-height: 100vh;
}
h1 {
  font-size: 1.3em;
}
.fortune_btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  display: block;
  background: rgb(28, 110, 158);
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  transition: all 0.3s;
}
.fortune_btn:hover {
  cursor: pointer;
  background: rgb(35, 122, 122);
}
.result_txt {
  font-size: 3em;
  color: red;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.result_txt .result_error {
  font-size: 0.5em;
  display: block;
}
